# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-  Tools available for Data Science
-  Languages used in Data Science
-  Libraries Avalable for Data Science

Some of the popular languages that Data Scientists use are: <br>
1. Python <br>
2. R <br>
3. SQL

Some of the commonly used libraries used by Data Scientists include: <br>
1. Matplotlib <br>
2. Pandas <br>
3. Numpy

|Data Science Tools|
|------------------|
|Apache Spark|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Callie Kobayashi